[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
ipython = ">=7.16.3"
pylint = "*"
safety = "*"
bleach = ">=3.1.4"

[packages]
selenium = "*"
bs4 = "*"
browsermob-proxy = "*"

[requires]
python_version = "3.7"
